<h1>stuff</h1>
<ul>
	<% posts.forEach(function(post) { %>

		<li>
			<%= post.escape("title") %>
			<button data-id="<%= post.escape("id") %>"
				 			class="delete">Destroy</button>
		</li>

	<% }) %>
</ul>