<h1>Index Page</h1>
<ul>
	<% posts.forEach(function(post) { %>

		<li>
			<a href="#posts/<%= post.id %>"><%= post.escape("title") %></a>
			<button data-id="<%= post.escape("id") %>"
				 			class="delete">Destroy</button>
		</li>

	<% }) %>
</ul>

<hr>
<a href="#/posts/new">Add a new post</a>