<form>
	<label for="post_title">Title</label>
	<input type="text" name="post[title]" id="post_title" value="<%= post.title %>"><br>

	<label for="post_body">Content</label>
	<textarea name="post[body]" id="post_body"><%= post.body %></textarea><br>

	<input type="submit" value="Create Post">
</form>